<a href="https://colab.research.google.com/github/Ankammarao143/AR-vs2019-gitdemo3/blob/master/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder \
    .appName("RDD_Example") \
    .master("local[*]") \
    .getOrCreate()

# Get SparkContext from SparkSession
sc = spark.sparkContext

In [3]:
# Python list
data = [1, 2, 3, 4, 5]

# Create RDD
rdd = sc.parallelize(data)

# Check content
print(rdd.collect())  # [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [4]:
rdd = sc.parallelize(data, 3)

In [5]:
rdd_range = sc.range(1, 10)  # 1 to 9
print(rdd_range.collect())

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
# Sample data
data = [(1, "Alice", 25), (2, "Bob", 30), (3, "Charlie", 28)]

# Define column names
columns = ["id", "name", "age"]

# Create DataFrame
df = spark.createDataFrame(data, schema=columns)

# Show DataFrame
df.show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 25|
|  2|    Bob| 30|
|  3|Charlie| 28|
+---+-------+---+

In [7]:
from pyspark.sql import Row

# Create RDD
rdd = spark.sparkContext.parallelize([
    Row(id=1, name="Alice", age=25),
    Row(id=2, name="Bob", age=30),
    Row(id=3, name="Charlie", age=28)
])

# Convert RDD to DataFrame
df3 = rdd.toDF()
df3.show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 25|
|  2|    Bob| 30|
|  3|Charlie| 28|
+---+-------+---+