<a href="https://colab.research.google.com/github/Ankammarao143/AR-vs2019-gitdemo3/blob/master/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder \
    .appName("RDD_Example") \
    .master("local[*]") \
    .getOrCreate()

# Get SparkContext from SparkSession
sc = spark.sparkContext

In [ ]:
# Python list
data = [1, 2, 3, 4, 5]

# Create RDD
rdd = sc.parallelize(data)

# Check content
print(rdd.collect())  # [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
rdd = sc.parallelize(data, 3)

In [ ]:
rdd_range = sc.range(1, 10)  # 1 to 9
print(rdd_range.collect())

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Sample data
data = [(1, "Alice", 25), (2, "Bob", 30), (3, "Charlie", 28)]

# Define column names
columns = ["id", "name", "age"]

# Create DataFrame
df = spark.createDataFrame(data, schema=columns)

# Show DataFrame
df.show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 25|
|  2|    Bob| 30|
|  3|Charlie| 28|
+---+-------+---+

In [ ]:
from pyspark.sql import Row

# Create RDD
rdd = spark.sparkContext.parallelize([
    Row(id=1, name="Alice", age=25),
    Row(id=2, name="Bob", age=30),
    Row(id=3, name="Charlie", age=28)
])

# Convert RDD to DataFrame
df3 = rdd.toDF()
df3.show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 25|
|  2|    Bob| 30|
|  3|Charlie| 28|
+---+-------+---+

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("CSVExample").getOrCreate()

# Assuming the file is in the current directory in Colab
df_csv = spark.read.csv("/content/customers.csv.csv", header=True, inferSchema=True)

df_csv.show()
df_csv.printSchema()

+-----+---------------+----------+---------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
|Index|    Customer Id|First Name|Last Name|             Company|             City|             Country|             Phone 1|             Phone 2|               Email|Subscription Date|             Website|
+-----+---------------+----------+---------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
|    1|DD37Cf93aecA6Dc|    Sheryl|   Baxter|     Rasmussen Group|     East Leonard|               Chile|        229.077.5154|    397.884.0519x718|zunigavanessa@smi...|       2020-08-24|http://www.stephe...|
|    2|1Ef7b82A4CAAD10|   Preston|   Lozano|         Vega-Gentry|East Jimmychester|            Djibouti|          5153435776|    686-620-1820x944|     vmata@colon.com|       2021-04-23|http://www.hobbs....|
|    3|6F94879bDAfE5a6|       Roy|    Berry|       Murillo-Perry|    Isabelborough| Antigua and Barbuda|     +1-539-402-0259| (496)978-3969x58947| beckycarr@hogan.com|       2020-03-25|http://www.lawren...|
|    4|5Cef8BFA16c5e3c|     Linda|    Olsen|Dominguez, Mcmill...|       Bensonview|  Dominican Republic|001-808-617-6467x...|     +1-813-324-8756|stanleyblackwell@...|       2020-06-02|http://www.good-l...|
|    5|053d585Ab6b3159|    Joanna|   Bender|Martin, Lang and ...|   West Priscilla|Slovakia (Slovak ...|001-234-203-0635x...|001-199-446-3860x...|colinalvarado@mil...|       2021-04-17|https://goodwin-i...|
|    6|2d08FB17EE273F4|     Aimee|    Downs|        Steele Group|    Chavezborough|Bosnia and Herzeg...| (283)437-3886x88321|        999-728-1637| louis27@gilbert.com|       2020-02-25|http://www.berger...|
|    7|EA4d384DfDbBf77|    Darren|     Peck|Lester, Woodard a...|         Lake Ana|    Pitcairn Islands|  (496)452-6181x3291|+1-247-266-0963x4995| tgates@cantrell.com|       2021-08-24| https://www.le.com/|
|    8|0e04AFde9f225dE|     Brett|   Mullen|Sanford, Davenpor...|          Kimport|            Bulgaria|001-583-352-7197x297|    001-333-145-0369|     asnow@colon.com|       2021-04-12|https://hammond-r...|
|    9|C2dE4dEEc489ae0|    Sheryl|   Meyers|      Browning-Simon|     Robersonstad|              Cyprus|   854-138-4911x5772| +1-448-910-2276x729|mariokhan@ryan-po...|       2020-01-13|https://www.bullo...|
|   10|8C2811a503C7c5a|  Michelle|Gallagher|        Beck-Hendrix|       Elaineberg|         Timor-Leste|    739.218.2516x459|001-054-401-0347x617|   mdyer@escobar.net|       2021-11-08|  https://arias.com/|
|   11|216E205d6eBb815|      Carl|Schroeder|Oconnell, Meza an...|     Shannonville|            Guernsey|    637-854-0256x825|    114.336.0784x788|  kirksalas@webb.com|       2021-10-20|https://simmons-h...|
|   12|CEDec94deE6d69B|     Jenna|   Dodson|Hoffman, Reed and...|      East Andrea|             Vietnam|       (041)737-3846|+1-556-888-3485x4...|  mark42@robbins.com|       2020-11-29|http://www.dougla...|
|   13|e35426EbDEceaFF|    Tracey|     Mata|      Graham-Francis|South Joannamouth|                Togo|    001-949-844-8787|       (855)713-8773|    alex56@walls.org|       2021-12-02|http://www.beck.com/|
|   14|A08A8aF8BE9FaD4|  Kristine|      Cox|      Carpenter-Cook|         Jodyberg|           Sri Lanka|  786-284-3358x62152|+1-315-627-1796x8074|holdenmiranda@cla...|       2021-02-08|https://www.brand...|
|   15|6fEaA1b7cab7B6C|     Faith|     Lutz|      Carter-Hancock|        Burchbury|           Singapore|  (781)861-7180x8306|        207-185-3665|cassieparrish@ble...|       2022-01-26|http://stevenson....|
|   16|8cad0b4CBceaeec|   Miranda|  Beasley|  Singleton and Sons|     Desireeshire|                Oman|    540.085.3135x185|+1-600-462-6432x2...|vduncan@parks-har...|       2022-04-12|  http://acosta.org/|
|   17|a5DC21AE3a21eaA|  Caroline|    Foley|     Winters-Mendoza|West Adriennestad|      Western Sahara|   936.222.4746x9924|001-469-948-6341x359|holtgwendolyn@wat...|       2021-03-10|http://www.benson...|
|   18|F8Aa9d6DfcBeeF8|      Greg|     Mata|       Valentine LLC|      Lake Leslie|          Mozambique|       (701)087-2415| (195)156-1861x26241|jaredjuarez@carro...|       2022-03-26|http://pitts-cher...|
|   19|F160f5Db3EfE973|  Clifford| Jacobson|           Simon LLC|       Harmonview|South Georgia and...|001-151-330-3524x...|       (748)477-7174|joseph26@jacobson...|       2020-09-24|https://mcconnell...|
|   20|0F60FF3DdCd7aB0|    Joanna|     Kirk|      Mays-Mccormick|       Jamesshire|    French Polynesia|   (266)131-7001x711| (283)312-5579x11543|tuckerangie@salaz...|       2021-09-24|https://www.camac...|
+-----+---------------+----------+---------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+
only showing top 20 rows

root
 |-- Index: integer (nullable = true)
 |-- Customer Id: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Phone 1: string (nullable = true)
 |-- Phone 2: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Subscription Date: date (nullable = true)
 |-- Website: string (nullable = true)

In [4]:
df_csv.select("First Name", "Last Name","City","Phone 1").show()

+----------+---------+-----------------+--------------------+
|First Name|Last Name|             City|             Phone 1|
+----------+---------+-----------------+--------------------+
|    Sheryl|   Baxter|     East Leonard|        229.077.5154|
|   Preston|   Lozano|East Jimmychester|          5153435776|
|       Roy|    Berry|    Isabelborough|     +1-539-402-0259|
|     Linda|    Olsen|       Bensonview|001-808-617-6467x...|
|    Joanna|   Bender|   West Priscilla|001-234-203-0635x...|
|     Aimee|    Downs|    Chavezborough| (283)437-3886x88321|
|    Darren|     Peck|         Lake Ana|  (496)452-6181x3291|
|     Brett|   Mullen|          Kimport|001-583-352-7197x297|
|    Sheryl|   Meyers|     Robersonstad|   854-138-4911x5772|
|  Michelle|Gallagher|       Elaineberg|    739.218.2516x459|
|      Carl|Schroeder|     Shannonville|    637-854-0256x825|
|     Jenna|   Dodson|      East Andrea|       (041)737-3846|
|    Tracey|     Mata|South Joannamouth|    001-949-844-8787|
|  Kristine|      Cox|         Jodyberg|  786-284-3358x62152|
|     Faith|     Lutz|        Burchbury|  (781)861-7180x8306|
|   Miranda|  Beasley|     Desireeshire|    540.085.3135x185|
|  Caroline|    Foley|West Adriennestad|   936.222.4746x9924|
|      Greg|     Mata|      Lake Leslie|       (701)087-2415|
|  Clifford| Jacobson|       Harmonview|001-151-330-3524x...|
|    Joanna|     Kirk|       Jamesshire|   (266)131-7001x711|
+----------+---------+-----------------+--------------------+
only showing top 20 rows

In [5]:
df_csv.select("First Name", "Last Name").show()

+----------+---------+
|First Name|Last Name|
+----------+---------+
|    Sheryl|   Baxter|
|   Preston|   Lozano|
|       Roy|    Berry|
|     Linda|    Olsen|
|    Joanna|   Bender|
|     Aimee|    Downs|
|    Darren|     Peck|
|     Brett|   Mullen|
|    Sheryl|   Meyers|
|  Michelle|Gallagher|
|      Carl|Schroeder|
|     Jenna|   Dodson|
|    Tracey|     Mata|
|  Kristine|      Cox|
|     Faith|     Lutz|
|   Miranda|  Beasley|
|  Caroline|    Foley|
|      Greg|     Mata|
|  Clifford| Jacobson|
|    Joanna|     Kirk|
+----------+---------+
only showing top 20 rows